img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    z-index: +1;
}

h1{
    font-size: .7vw;
}

.info{
    // font-size: 12px;
    // backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}