@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: pokeFont1;
  src: url('./containers/PocketMonk-15ze.ttf');
}

@font-face {
  font-family: pokeFont2;
  src: url('./containers/PokemonGb-RAeo.ttf');
}

h1{
  font-family: 'pokeFont1', sans-serif;
}

h2{
  font-family: 'pokeFont2', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  /* height: 2.5rem; Footer height */
  text-align: center;
}
